html {
  box-sizing: border-box;
  font-family: "Lobster two";
  font-style: italic;
  font-weight: bold;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
}
div {
  width: 1200px;
  height: auto;
  margin: 200px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 80px;
}
.html1 {
  background: blue;
}
